@model IEnumerable<Shop.Application.Cart.GetCart.Response>

@{
}

<div>
    <p class="title">Cart</p>
    @foreach (var product in Model)
    {
        <article class="media">
            <figure class="media-left">
                <p class="image is-128x128">
                    <img src="~/img/anomaly-WWesmHEgXDs-unsplash.jpg" />
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p class="title is-4">@product.Name</p>
                    <div class="level">
                        <div class="level-item">Size: @product.StockId</div>
                        <div class="level-item">Quantity: @product.Quantity</div>
                        <div class="level-item">Price: @product.Value</div>
                    </div>
                </div>
            </div>
        </article>
        <hr />
    }
</div>
